* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.time-select, 
.sound-picker{
    height: 80%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.player-container {
    height: 80%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.player-container svg {
    position: absolute;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.time-select{
    background: cyan;
}
.sound-picker{
    background: darkblue;
}
.player-container{
    background: darkcyan;
}

.video-container {
    display: none;
}