* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.timeH1, 
.soundH1 {
    letter-spacing: 5px;
    padding-bottom: 10px;
    font-size: 50px;
    color: rgb(230, 216, 216);
    text-decoration: underline;
}
.time-select, 
.sound-picker{
    height: 80%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.player-container {
    height: 80%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.player-container svg {
    position: absolute;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    pointer-events: none;
}

.time-display {
    position: absolute;
    bottom: 10%;
    color: whitesmoke;
    font-size: 50px;
    letter-spacing: 5px;
}

.video-container {
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100%;
    z-index: -1;
}
video {
    width: 100%;
    height: auto;
}
.treesvg {
    color: white;
}
.time-select button, 
.sound-picker button{
    color: white;
    width: 30%;
    height: 10%;
    background: none;
    border: 3px solid black;
    cursor: pointer;
    border-radius: 50px;
    font-size: 20px;
    letter-spacing: 3px;
    transition: all 0.9s ease;

}
.time-select button:active,
.time-select button:focus {
    outline: none; 
}
.time-select button:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(1, 225, 255);
}
.sound-picker button:active,
.sound-picker button:focus{
    outline: none;
}
.sound-picker button{
    border: none;
    height: 120px;
    width: 120px;
}
.sound-picker button:nth-child(2):hover {
    box-shadow: 0px 0px  55px 20px rgb(1, 225, 255);
}
.sound-picker button:nth-child(3):hover {
    box-shadow: 0px 0px  55px 20px rgb(255, 173, 50);
}
.sound-picker button:nth-child(4):hover {
    box-shadow: 0px 0px  55px 20px rgb(6, 75, 29);
}
.sound-picker button:nth-child(5):hover {
    box-shadow: 0px 0px  55px 20px rgb(6, 17, 158);
}
.sound-picker button:nth-child(6):hover {
    box-shadow: 0px 0px  55px 20px rgb(218, 86, 10);
}



@media screen and (max-width: 1600px) {
    video {
        height: 100vh;
    }
}